<!DOCTYPE html>
<html>
    <head>
        <title>NLP - Project</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body background="{{ url_for('static', filename='images/bg.jpg') }}";>
        <div>
            <div>
                <h1>NLP - Smart Cities</h1>
                <br/>
                <h2>Upload text or URL</h1>
                <textarea id="story" name="story"
                        rows="5" cols="33">
                    It was a dark and stormy night...
                </textarea>
                <a href="/treat-text"><input type=”button” value=upload></a> 
                <br/>

                <h2>Upload PDF</h1>
                <form method=post enctype=multipart/form-data>
                    <input type=file name=file>
                    <input type=submit value=Upload>
                </form>
                <h2>Result</h1>
                <p> {{ test }} </p>
            </div>
        </div>
    </body>
</html>